body{
    background-color: #c6dbba;
}

.col-lg-8{

    width: 50%;
}

.col-lg-8 h2{
    display: flex;
    font-size: 30px;
    color: black;
    justify-content: left;
    padding: 20px;
    margin-left: 50px;
    text-align: center;
    font-family: "Kalnia", serif;
    font-optical-sizing: auto;
    font-weight: 1000;
    font-style: normal;
    font-variation-settings:
        "wdth" 1000;

}

.col-lg-8 p{
    display: flex;
    font-size: 20px;
    color: black;
    text-align: justify;
    justify-content: left;
    padding: 20px;
    margin-left: 10px;
}

.col-lg-4 img{
    display: flex;
    width: 120%;
    padding: 20px;
    margin-top: 20px;
    margin-left: 20px;
}

.carru {
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 20px;
}

.carousel-item {
    width: auto;
    height: 600px;
    justify-items: center;
}

.col-lg-12 h2{
    display: flex;
    font-size: 30px;
    color: black;
    justify-content: center;
    padding: 20px;
    margin-left: 50px;
    text-align: center;
    font-family: "Kalnia", serif;
    font-optical-sizing: auto;
    font-weight: 1000;
    font-style: normal;
    font-variation-settings:
        "wdth" 1000;

}

.video {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px;
    padding: 10px;

}

footer {
    display: flex;
    justify-content: center;
    background-color: #a8bd9d;
}

footer p {
    display: flex;
    font-size: 20px;
    color: black;
}